B5XVY7_10_05/SZG_konyvek.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="konyvek" type="konyvekType">
    <xs:annotation>
      <xs:documentation>&lt;!DOCTYPE konyvek SYSTEM "B5XVY7_konyv.dtd"></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="konyvType">
    <xs:sequence>
      <xs:element type="xs:string" name="cim"/>
      <xs:element type="xs:string" name="kiadasi_ev"/>
      <xs:element type="xs:string" name="kiado"/>
      <xs:element type="xs:string" name="szerzo" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="required"/>
  </xs:complexType>
  <xs:complexType name="konyvekType">
    <xs:sequence>
      <xs:element type="konyvType" name="konyv" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>