B5XVY7_10_05/SZG_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orarend" type="orarendType">
    <xs:annotation>
      <xs:documentation>&lt;!DOCTYPE konyvek SYSTEM "B5XVY7_orarend.dtd"></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="idopontType">
    <xs:sequence>
      <xs:element type="xs:string" name="nap"/>
      <xs:element type="xs:string" name="tol"/>
      <xs:element type="xs:string" name="ig"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oktatoType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="nev" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="oraType">
    <xs:sequence>
      <xs:element type="targyType" name="targy"/>
      <xs:element type="idopontType" name="idopont"/>
      <xs:element type="xs:string" name="helyszin"/>
      <xs:element type="oktatoType" name="oktato"/>
      <xs:element type="xs:string" name="szak"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="tipus" use="optional"/>
  </xs:complexType>
  <xs:complexType name="orarendType">
    <xs:sequence>
      <xs:element type="oraType" name="ora" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="targyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="nev" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>