B5XVY7_10_12/SZG_orarend1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="orarend">
        <xs:sequence>
            <xs:element type="oraTipus" name="ora" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="oraTipus">
        <xs:sequence>
            <xs:element type="targyTipus" name="targy"/>
            <xs:element type="idopontTipus" name="idopont"/>
            <xs:element type="xs:string" name="helyszin"/>
            <xs:element type="oktatoTipus" name="oktato"/>
            <xs:element type="xs:string" name="szak"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="required"/>
        <xs:attribute type="xs:string" name="tipus" use="optional"/>
    </xs:complexType>

    <xs:complexType name="targyTipus">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="nev" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="idopontTipus">
        <xs:sequence>
            <xs:element type="xs:string" name="nap"/>
            <xs:element type="xs:string" name="tol"/>
            <xs:element type="xs:string" name="ig"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="oktatoTipus">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="nev" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>