B5XVY7_10_12/SZG_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="orarend">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="oraTipus" name="ora" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="oraTipus">
        <xs:sequence>
            <xs:element type="xs:string" name="targy"/>
            <xs:element type="idopontTipus" name="idopont"/>
            <xs:element type="xs:string" name="helyszin"/>
            <xs:element type="oktatoTipus" name="oktato"/>
            <xs:element type="xs:string" name="szak"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="required"/>
        <xs:attribute name="tipus" type="oraValues" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="oraValues">
        <xs:restriction base="xs:string">
            <xs:enumeration value="előadás"/>
            <xs:enumeration value="gyakorlat"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="idopontTipus">
        <xs:sequence>
            <xs:element type="nap" name="nap"/>
            <xs:element type="oraperc" name="tol"/>
            <xs:element type="oraperc" name="ig"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="nap">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hétfő"/>
            <xs:enumeration value="kedd"/>
            <xs:enumeration value="szerda"/>
            <xs:enumeration value="csütörtök"/>
            <xs:enumeration value="péntek"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="oraperc">
        <xs:restriction base="xs:time">
            <xs:pattern value="^(0[0-9]|[1][0-9]|2[1-3]):([0-5][1-9])$"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="oktatoTipus">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="nev" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>
