B5XVY7_10_12/SZG_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tol" type="xs:string"/>
  <xs:element name="targy">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="nev" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="oktato">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="nev" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="szak" type="xs:string"/>
  <xs:element name="idopont">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nap"/>
        <xs:element ref="tol"/>
        <xs:element ref="ig"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nap" type="xs:string"/>
  <xs:element name="helyszin" type="xs:string"/>
  <xs:element name="ig" type="xs:string"/>
  <xs:element name="ora">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="targy"/>
        <xs:element ref="idopont"/>
        <xs:element ref="helyszin"/>
        <xs:element ref="oktato"/>
        <xs:element ref="szak"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="tipus" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ora" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>